body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
   
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d6edf8;
  z-index: 1000;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(19, 92, 132, 0.1);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #d6edf8;
}

.header-logo img {
  height: 50px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.main-nav a {
  text-decoration: none;
  color: #013341;
  font-weight: 700;
  font-size: 23px;
}

.main-nav a.active,
.main-nav a:hover {
  color: #058FAE;
}


/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6edf8; 
  padding: 80px 60px 40;
  flex-wrap: wrap;
}
.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.hero-img img {
  max-width: 100%;
  height: auto;
}

.hero-text {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  line-height: normal;
}

.hero-text h1 {
  font-size: 80px;
  font-weight: 700;
  color: #013341;
  margin-bottom: 20px;
}

.hero-text h1 span {
  color: #058fae;
}

.hero-text p {
  font-size: 24px;
  color: #013341;
  margin-bottom: 30px;
  line-height: normal;
  opacity: 69%;
}

.cta-button {
display: inline-block;
  background-color: #0088a9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #046b88;
}

/*CHI SIAMO*/
.about {
  background-color: white;
  padding: 80px 40px;
  padding-bottom: 0%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
}

/* Colonna sinistra */
.info-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  min-width: 220px;
  margin-left: 120px;
  margin-top: -10px;
}

.info-item { /* linea per ogni elemento informativo */
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 4px solid #92C8E2;
  padding-bottom: 15px;
  max-width: 220px;
  
}

.info-item img {
  width: 40px;
  height: 40px;
  
}

.info-item strong {
  font-size: 25px;
  color: #013341;
  margin-left: 20px;
}

.info-item span {
  font-size: 18px;
  color: #333;
  margin-left: 20px;
}


/* Colonna centrale */
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  margin-top: -610px;
  margin-left: 680px;
  padding-bottom: 0;
  margin-bottom: 0;
  }

.about-image img {
  max-height: 700px;
  height: auto;
  width: auto;
}

/* Colonna destra */
.about-text {
  flex: 1;
  max-width: 590px;
  margin-left: 120px;
  margin-bottom: 60px;
}

.about-text p.highlight {
  font-size: 25px;
  margin-bottom: 10px;
  color: #058fae;
}


.about-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
  color: #333;
}

/*CARDS*/
.opportunita {
  background-color: #d6edf8; /* colore di sfondo */
  padding: 70px 40px;
  text-align: center;
}

.opportunita h2 {
  font-size: 48px;
  margin: 10px 0;
  color: #013341;
  margin-top: -35px;
}

.opportunita p {
  font-size: 25px;
  color: #058FAE;
  margin-bottom: 40px;
  font-weight: 500;
}

.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.card {
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  width: 300px;
  text-align: left;
  color: #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
 padding: 20px;
}

.card h3 {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #013341;
}

.card p {
  font-size: 20px;
  margin-top: 5px;
  color: #333;
}

.btn {
  display: inline-block;
  background-color: #058FAE;
  color: white;
  margin-top: 0px;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
}

.btn:hover {
  background-color: #013341;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}



/*PAGINA SCOPRI LETOJANNI*/
.hero-letojanni {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6edf8; 
  padding: 80px 60px 40;
  flex-wrap: wrap;
}
.hero-img-letojanni {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.hero-img-letojanni img {
  max-width: 170%;
  height: auto;
  margin-top: 50px;
}

.hero-text-letojanni {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  line-height: normal;
  margin-bottom: 50px;
  margin-top: 150px;
}

.hero-text-letojanni h1 {
  font-size: 50px;
  font-weight: 700;
  color: #013341;
  margin-bottom: 20px;
}

.hero-text-letojanni h1 span {
  color: #058fae;
}

.hero-text-letojanni  p {
  font-size: 24px;
  color: #013341;
  margin-bottom: 30px;
  line-height: normal;
  opacity: 69%;
}


/*ESPERIENZE SECTION*/
.esperienze {
  position: relative;
  background-color: #f5f5f5;
  padding: 100px 40px;
  overflow: hidden;
}

.sfondo-decorativo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* aumentato per visibilità */
  z-index: 0;
  pointer-events: none;
}

.esperienze-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.immagini {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.img-grande,
.img-piccola {
  aspect-ratio: 1 / 1; /* Mantiene le immagini quadrate */
  border-radius: 50%;
  object-fit: cover;
}

.img-grande {
  width: 100%;
  max-width: 550px;
  border-radius: 50%;
  display: block;
  margin-left: -60px;
}

.img-piccola {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
  width: 248px;
  border-radius: 50%;
  border: 6px solid #F5F5F5;
}

/* Testo */
.testo {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  margin-left: 30px;
}

.testo h2 {
  font-size: 48px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo .sottotitolo {
  color: #058fae;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testo .descrizione {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn-cta {
  display: inline-block;
  background-color: #0088a9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: #025d72;
}



/*CIBO SEZIONE*/
.cibo {
  position: relative;
  background-color: #d6edf8;
  padding: 100px 40px;
  overflow: hidden;
}

.sfondo-decorativo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* aumentato per visibilità */
  z-index: 0;
  pointer-events: none;
}

.cibo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
 .sapori-img-wrapper {
  position: relative;
  width: 340px;
}

.img-grande-cibo {
  width: 550px;
  margin-top: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: -250px;
}

.img-piccola-cibo {
  position: absolute;
  top:0px;
  right: 10px;
  width: 240px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #d6edf8;
}

/* Testo */
.testo-cibo {
  min-width: 300px;
  z-index: 1;  
  line-height: normal;
}

p.subtitle-cibo {
  color: #058fae;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: normal;
}

.testo-cibo h2 {
  font-size: 40px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo-cibo p {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  padding-right: 50px;
}

.btn-cta {
  display: inline-block;
  background-color: #0088a9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: #025d72;
}



/*LUOGHI SECTION*/
.luoghi {
  position: relative;
  background-color: #f5f5f5;
  padding: 100px 40px;
  overflow: hidden;
}

.sfondo-decorativo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3; /* aumentato per visibilità */
  z-index: 0;
  pointer-events: none;
}

.luoghi-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.immagini {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.img-grande,
.img-piccola {
  aspect-ratio: 1 / 1; /* Mantiene le immagini quadrate */
  border-radius: 50%;
  object-fit: cover;
}

.img-grande {
  width: 100%;
  max-width: 550px;
  border-radius: 50%;
  display: block;
  margin-left: -60px;
}

.img-piccola {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
  width: 248px;
  border-radius: 50%;
  border: 6px solid #F5F5F5;
}

/* Testo */
.testo {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  margin-left: 30px;
}

.testo h2 {
  font-size: 48px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo .sottotitolo {
  color: #058fae;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testo .descrizione {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn-cta {
  display: inline-block;
  background-color: #0088a9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: #025d72;
}

/* FOOTER */
.site-footer {
  background-color: #013341;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links {
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}




/*PAGINA CONSIGLI UTILI*/

.consigli {
  position: relative;
  background-color: #d6edf8;
  padding: 1px 40px;
  overflow: hidden;
}

.consigli-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  z-index: 1;
}

/* IMMAGINE */
.consigli-img img {
  width: 105%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin-left: -250px;
  margin-top: 90px;
}

/* TESTO */
.consigli-testo {
  flex: 1;
  min-width: 300px;
  margin-left: -300px;
  margin-right: -100px;
  margin-top: 100px;
}

.consigli-testo h2 {
  font-size: 50px;
  color: #013341;
  line-height: 1.3;
  margin-bottom: 20px;
}

.consigli-testo .evidenza {
  color: #058fae;
}

.consigli-testo .descrizione {
  font-size: 24px;
  color: #013341;
  line-height: 1.6;
  opacity: 69%;
}


/*CARDS*/
.mezzi {
  background-color: #F5F5F5;
  padding: 70px 40px;
  text-align: center;
}

.mezzi h2 {
  font-size: 48px;
  margin: 10px 0;
  color: #013341;
  margin-top: -35px;
}

.mezzi p {
  font-size: 30px;
  color: #058FAE;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.card {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  text-align: left;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card h3 {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #013341;
}

.card p {
  font-size: 20px;
  margin-top: 5px;
  color: #333;
}

/* BOTTONE CON FRECCIA */
.btn-card {
  display: inline-flex;
  gap: 10px;
  background-color: #013341;
  color: white;
  padding: 10px 16px;
  padding-right: 20px;
  border-radius: 2px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-family: 'Inter', Arial, sans-serif;
}

.btn-card:hover {
  background-color: #025d72;
}

.btn-card img.icon-freccia {
  width: 20px;
  height: 20px;
  object-fit: contain;
  padding-right: 5px;
}

.btn-card span {
  display: inline-block;
  text-decoration: underline;
  line-height: 1;
}

/* KOKO HOUSE */
.koko-house {
  background-color: white; 
  padding: 80px 40px;
}

.koko-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 150px;
  flex-wrap: wrap;
}

/* IMMAGINE */
.koko-img {
  flex: 1;
  max-width: none;
}
.koko-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* TESTO */
.koko-text {
  max-width: 500px;
}

.koko-text .subtitle {
  color: #058fae;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.koko-text h2 {
  font-size: 48px;
  color: #013341;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 15px;
}

.koko-text .intro {
  color: #058fae;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 22px;
}

.koko-text p {
  color: #333;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 5px;
}

/* BOTTONE */
.cta-button {
  display: inline-block;
  background-color: #0088a9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #025d72;
}

/* FOOTER */
.site-footer {
  background-color: #013341;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links {
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}




/*KOKO HOUSE*/
.hero-koko {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6edf8; 
  padding: 80px 60px 40;
  flex-wrap: wrap;
}
.hero-img-koko {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.hero-img-koko img {
  max-width: 105%;
  height: auto;
  margin-right: 50px;
  margin-top: 120px;
}

.hero-text-koko {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  line-height: normal;
  margin-bottom: 50px;
  margin-top: 100px;
}

.hero-text-koko h1 {
  font-size: 50px;
  font-weight: 700;
  color: #013341;
  margin-bottom: 20px;
}

.hero-text-koko h1 span {
  color: #058fae;
}

.hero-text-koko p {
  font-size: 24px;
  color: #013341;
  margin-bottom: 30px;
  line-height: normal;
  opacity: 69%;
}


/*CAROSELLO CASA*/
/* TITOLO SEZIONE */
.casa-sezione {
  padding: 100px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.casa-sezione h2 {
  font-size: 42px;
  color: #013341;
  margin-bottom: 40px;
  margin-top: 0px;
  line-height: 1.2;
}

.casa-sezione h2 span {
  color: #058FAE;
  font-weight: normal;
}

/* GRID CARD */
.casa-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonne fisse */
  gap: 30px;
  max-width: 1000px; /* restringe l'intera griglia */
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px 20px;
}

/* Card */
.casa-card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s ease;
}

.casa-card:hover {
  transform: translateY(-5px);
}

/* Immagine */
.casa-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

/* Titolo e testo */
.casa-card h3 {
  font-size: 22px;
  margin: 15px 20px 5px;
  color: #013341;
}

.casa-card p {
  font-size: 16px;
  margin: 0 20px 15px;
  color: #058FAE;
}


/* COMFORT SECTION */
.comfort {
  padding: 100px 40px;
  background-color: #d6edf8;
  text-align: center;
}

/* Titolo della sezione */
.comfort h2 {
  font-size: 38px;
  color: #013341;
  margin-bottom: 60px;
  margin-left: 50px;
}

.comfort h2 span {
  color: #058FAE;
  font-weight: normal;
}

/* Griglia generale */
.comfort-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 60px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

/* Ogni elemento comfort */
.comfort-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-left: 65px;
}

/* Icona PNG */
.comfort-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 30px;
}

/* Testi */
.comfort-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.comfort-text .titolo {
  font-weight: 600;
  color: #013341;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: -1px;
  line-height: 1.3;
}

.comfort-text .sottotitolo {
  font-size: 15px;
  color: #666;
  margin: 0;
}


/* SEZIONE POSIZIONE */
.posizione {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 120px 40px;
  flex-wrap: wrap;
}

.posizione-testo {
  flex: 1 1 400px;
  max-width: 600px;
  margin-left: 100px;
}

.posizione .sottotitolo {
  font-size: 28px;
  color: #058FAE;
  margin-bottom: 10px;
  font-weight: bold;
}

.posizione h2 {
  font-size: 40px;
  line-height: 1.3;
  color: #013341;
  margin-bottom: 25px;
  padding-right: 100px;
}

.posizione h2 span {
  color: #058FAE;
  font-weight: bold;
}

.posizione .testo-azzurro {
  font-size: 25px;
  color: #058FAE;
  margin-bottom: 20px;
}

.posizione .testo-scuro {
  font-size: 25px;
  color: #013341;
}

.posizione-mappa {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.posizione-mappa img {
  width: 520px;
  height: 520px;
  object-fit: cover;
}


/*PRENOTAZIONE */
.prenotazione {
  background-color: #d6edf8; 
  padding: 160px 40px;
}

.prenotazione-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 150px;
  flex-wrap: wrap;
}

/* IMMAGINE */
.prenotazione-img {
  flex: 1;
  max-width: none;
}
.prenotazione-img img {
  width: 180%;
  height: auto;
  display: block;
  margin-left: -50px;;
}

/* TESTO */
.prenotazione-text {
  max-width: 500px;
  margin-left: 200px;
}

.prenotazione-text .subtitle {
  color: #013341;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: normal;
}

.prenotazione-text h2 {
  font-size: 35px;
  color: #058FAE;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 15px;
}

.prenotazione-text .intro {
  color: #058fae;
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 22px;
}

.prenotazione-text p {
  color: #333;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 5px;
}

.btn-cta {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #058FAE;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-cta:hover {
  background-color: #046f8c;
}

.btn-cta .icon-freccia {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.btn-cta span {
  display: inline-block;
  line-height: 1;
}




/* PAGINA COSA FARE*/
.cosa-fare {
  position: relative;
  background-color: #d6edf8;
  padding: 100px 40px;
  overflow: hidden;
}

.cosa-fare-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  z-index: 1;
}

/* IMMAGINE */
.cosa-fare-img img {
  width: 100%;
  max-width: 1040px;
  height: auto;
  display: block;
  margin-left: -250px;
  margin-top: 20px;
  margin-bottom: -100px;
}

/* TESTO */
.cosa-fare-testo {
  flex: 1;
  min-width: 300px;
  margin-left: -200px;
  margin-right: -20px;
}

.cosa-fare-testo h2 {
  font-size: 50px;
  color: #013341;
  line-height: 1.3;
  margin-bottom: 20px;
}

.cosa-fare-testo .evidenza {
  color: #058fae;
}

.cosa-fare-testo .descrizione {
  font-size: 24px;
  color: #013341;
  line-height: 1.6;
  opacity: 69%;
}


/*SEZIONE MARE ED ESCURSIONI*/
.mare {
  position: relative;
  background-color: #f5f5f5;
  padding: 120px 40px;
  overflow: hidden;
}

.mare-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
 .mare-img-wrapper {
  position: relative;
  width: 340px;
}

.img-grande-mare {
  width: 550px;
  margin-top: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: -250px;
}

.img-piccola-mare {
  position: absolute;
  top:0px;
  right: 10px;
  width: 240px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #f5f5f5;
}

/* Testo */
.testo-mare {
  min-width: 300px;
  z-index: 1;  
  line-height: normal;
}

p.subtitle-mare {
  color: #058fae;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: normal;
}

.testo-mare h2 {
  font-size: 40px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo-mare p {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  padding-right: 50px;
}


/*ESPERIENZE SECTION*/
.escursioni {
  position: relative;
  background-color: #d6edf8;
  padding: 100px 40px;
  overflow: hidden;
}

.escursioni-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.immagini {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.img-grande,
.img-piccola {
  aspect-ratio: 1 / 1; /* Mantiene le immagini quadrate */
  border-radius: 50%;
  object-fit: cover;
}

.img-grande {
  width: 100%;
  max-width: 550px;
  border-radius: 50%;
  display: block;
  margin-left: -60px;
}

.img-piccola {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
  width: 248px;
  border-radius: 50%;
  border: 6px solid #d6edf8;
}

/* Testo */
.testo {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  margin-left: 30px;
}

.testo h2 {
  font-size: 48px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo .sottotitolo {
  color: #058fae;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testo .descrizione {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}




/*PAGINA COSA VEDERE*/
.hero-vedere {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6edf8; 
  padding: 80px 60px 40;
  flex-wrap: wrap;
}
.hero-img-vedere {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.hero-img-vedere img {
  max-width: 120%;
  height: auto;
  margin-top: 100px;
  margin-right: -130px;
}

.hero-text-vedere {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  line-height: normal;
  margin-bottom: 50px;
}

.hero-text-vedere h1 {
  font-size: 50px;
  font-weight: 700;
  color: #013341;
  margin-bottom: 20px;
}

.hero-text-vedere h1 span {
  color: #058fae;
}

.hero-text-vedere  p {
  font-size: 24px;
  color: #013341;
  margin-bottom: 30px;
  line-height: normal;
  opacity: 69%;
}

.descrizione-sottotitolo {
  color: #058fae;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: normal;
}

.descrizione {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}


/*PAGINA DOVE MANGIARE*/
.hero-mangiare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d6edf8; 
  padding: 80px 60px 40;
  flex-wrap: wrap;
}
.hero-img-mangiare {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.hero-img-mangiare img {
  max-width: 80%;
  height: auto;
  margin-top: 130px;
  margin-right: -260px;
}

.hero-text-mangiare {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  line-height: normal;
  margin-top: 130px;
  margin-bottom: 50px;
}

.hero-text-mangiare h1 {
  font-size: 50px;
  font-weight: 700;
  color: #013341;
  margin-bottom: 20px;
}

.hero-text-mangiare h1 span {
  color: #058fae;
}

.hero-text-mangiare  p {
  font-size: 24px;
  color: #013341;
  margin-bottom: 30px;
  line-height: normal;
  opacity: 69%;
}


/* CARDS */
.mangiare {
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 10px;
}

.mangiare h2 {
  font-size: 48px;
  margin: 10px 0;
  color: #013341;
  margin-top: 100px;
  margin-bottom: -20px
}

.mangiare-section {
  padding: 100px 40px;
  background-color: #f5f5f5;
}

.mangiare-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-mangiare {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
}

.card-mangiare img {
  width: 100%;
  height: auto;
  display: block;
}

.card-mangiare-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-mangiare .localita {
  color: #058FAE;
  font-weight: bold;
  font-size: 14px;
  margin-left: -250px;
  margin-top: -1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-mangiare .mongiuffi {
  color: #058FAE;
  font-weight: bold;
  font-size: 14px;
  margin-left: -200px;
  margin-top: -1px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-mangiare hr {
  border: none;
  border-top: 2px solid #C9E1ED;
  margin: 8px 0 16px;
}

.card-mangiare h3 {
  margin-left: -240px;
  margin-top: 3px;
  font-size: 22px;
  color: #013341;
}

.card-mangiare h4 {
  margin-left: -180px;
  margin-top: 3px;
  font-size: 22px;
  color: #013341;
}

.card-mangiare .descrizione {
   font-size: 16px;
   line-height: normal;
  color: #2d3e4f;
  margin-bottom: 25px;
  text-align: justify;
  margin-left: 8px;
  margin-right: 30px;
  margin-top: -4px;
}


/* TRIPADVISOR */
.link-trip a {
  text-decoration: underline;
  color: #058FAE; /* colore coerente con il sito */
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s ease;
  margin-left: -160px;
}

.link-trip a:hover {
  color: #013341; /* cambia colore al passaggio */
}

.mangiare-taormina {
  position: relative;
  background-color: #d6edf8;
  padding: 120px 40px;
  overflow: hidden;
}

.mangiare-taormina-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.immagini {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.immagini .img-grande,
.immagini .img-piccola {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.immagini .img-grande {
  width: 100%;
  max-width: 550px;
  display: block;
  margin-left: -60px;
}

.immagini .img-piccola {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
  width: 248px;
  border: 6px solid #d6edf8;
}

/* Testo */
.testo-mangiare-taormina {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  margin-left: 30px;
  text-align: left; 
}


.testo-mangiare-taormina h2 {
  font-size: 48px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.testo-mangiare-taormina .sottotitolo {
  color: #058fae;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testo-mangiare-taormina .descrizione {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}


.mangiare-letojanni {
  position: relative;
  background-color: #f5f5f5;
  padding: 120px 40px;
  overflow: hidden;
  text-align: left;
}

.mangiare-letojanni-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.leto-img-wrapper {
  position: relative;
  width: 340px;
  margin-right: -70px;
}

.img-grande-leto {
  width: 550px;
  margin-top: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: -250px;
}

.img-piccola-leto {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 240px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #f5f5f5;
}

/* Testo */
.testo-mangiare-letojanni {
  min-width: 300px;
  z-index: 1;
  line-height: normal;
  margin-left: -50px;
}

.titolo-mangiare-letojanni {
  font-size: 40px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.descrizione-blu-letojanni {
  color: #058fae;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: normal;
  margin-top: 40px;
}

.descrizione-mangiare-letojanni {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  padding-right: 50px;
}


.cena {
  position: relative;
  background-color: #d6edf8;
  padding: 100px 40px;
  overflow: hidden;
}

.cena-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 60px;
  z-index: 1;
  flex-wrap: wrap;
}

/* Immagini */
.immagini {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.img-grande,
.img-piccola {
  aspect-ratio: 1 / 1; /* Mantiene le immagini quadrate */
  border-radius: 50%;
  object-fit: cover;
}

.img-grande {
  width: 100%;
  max-width: 550px;
  display: block;
  margin-left: -60px;
}

.img-piccola {
  position: absolute;
  bottom: -20px;
  left: 70%;
  transform: translateX(-50%);
  width: 248px;
  border-radius: 50%;
  border: 6px solid #d6edf8;
}

/* Testo */
.testo-cena {
  flex: 1;
  min-width: 300px;
  z-index: 1;
  margin-left: 30px;
  text-align: left;
}

.testo-cena h2 {
  font-size: 48px;
  color: #013341;
  margin-bottom: 20px;
  line-height: normal;
}

.sottotitolo-cena {
  color: #058fae;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.descrizione-cena {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}